.page-body {
	max-width: 1200px;
	min-width: 60%;
	margin: auto;
	margin-top: 64px;
}

.posts_header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.posts_pagination {
	display: flex;
	justify-content: center;
	padding: 16px;
}
