#login
    display flex
    flex-direction column
    align-items center
    margin-top 100px
    .login-form
        width 100%
        max-width 300px
        .login-form-forgot
            float right
        .login-form-button
            width 100%    